<header class="header-lib" id="home">
  <div class="container header-container">
    <div class="logo-inner">
      <a href="./index.html">
        <svg class="icon-film" class="icon-film">
          <use href="./images/sprites.svg#film"></use>
        </svg>
        <span class="logo-text">Filmoteka</span>
      </a>
    </div>
    <nav class="header-nav">
      <ul class="header-nav__list">
        <li class="header-nav__item"><a href="./index.html">Home</a></li>
        <li class="header-nav__item current">
          <a href="./library.html">My library</a>
        </li>
        <!-- <li class="header-nav__item"><a href="#" data-open-modal-login>🔒</a></li> -->
      </ul>
    </nav>
  </div>
  <div class="header-btn" id="btn-lib">
    <button
      class="button btn-lib button--accent"
      aria-label="Queue"
      id="btn-queue"
    >
      Queue
    </button>
    <button class="button btn-lib" aria-label="Watched" id="btn-watched">
      Watched
    </button>
  </div>
</header>
